* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #fff;
	line-height: 1.3;
}

/* Utility classes */

.container {
	max-width: 1100px;
	margin: auto;
	overflow: auto;
}

.btn {
	display: inline-block;
	color: #fff;
	font-family: Raleway, sans-serif;
	font-weight: 800;
	font-size: .8rem;
	padding: .7rem 1.5rem;
	background-color: #998675;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	transition: all 0.6s ease;
}

.btn:hover {
	background-color: #fff;
	color: #998675
}

.text-primary {
	color: #998675;
}

.number {
	font-family: Montserrat, sans-serif;
	font-weight: 200;
	font-size: 3rem;
}

.current-cat {
	background: #998675;
}

.grey {
	color: #959595;
}

.read-more {
	font-family: Montserrat, sans-serif;
	font-weight: 300;
	color: #cab299;
	text-decoration: none;
	font-size: .7rem;
	display: inline-block;
	padding-top: 1.5rem;
	position: relative;
}

.read-more:after {
	content: '';
	display: inline-block;
	padding-left: 1rem;
	position: absolute; 
    left: 110%; top: 72%; 
    border: none;
    border: 0.25rem solid transparent; 
    border-left: 0.25rem solid #cab299; 
}

.rlw-reg-1 {
	font-family: Raleway, sans-serif;
	font-weight: 400;
	font-size: 2rem;
}

.rlw-reg-2 {
	font-family: Raleway, sans-serif;
	font-weight: 400;
	font-size: 1.5rem;
}

.rlw-med-1 {
	font-family: Raleway, sans-serif;
	font-weight: 500;
	font-size: 2rem;
}

.rlw-med-2 {
	font-family: Raleway, sans-serif;
	font-weight: 500;
	font-size: 1.5rem;
}

.rlw-med-3 {
	font-family: Raleway, sans-serif;
	font-weight: 500;
	font-size: 1rem;
}

.rlw-ex-bold {
	font-family: Raleway, sans-serif;
	font-weight: 800;
	font-size: 3rem;
}

.rlw-semi-bold-1 {
	font-family: Raleway, sans-serif;
	font-weight: 600;
	font-size: 1.5rem;
}

.rlw-semi-bold-2 {
	font-family: Raleway, sans-serif;
	font-weight: 600;
	font-size: 1rem;
}

.rlw-bold {
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 1.5rem;
}

.mst-light-1 {
	font-family: Montserrat, sans-serif;
	font-weight: 300;
	font-size: .9rem;
	line-height: 1.5;
}

.mst-light-2 {
	font-family: Montserrat, sans-serif;
	font-weight: 300;
	font-size: .8rem;
	line-height: 1.5;
}

.mst-light-3 {
	font-family: Montserrat, sans-serif;
	font-weight: 300;
	font-size: .7rem;
	line-height: 1.5;
}

.rbt-reg {
	font-family: Roboto, sans-serif;
	font-size: .8vw;
}

.padY-0-7 { padding: .7rem 0; }
.padY-1-5 { padding: 1.5rem 0; }
.padY-2	{padding: 2rem 0; }
.padY-3 { padding: 3rem 0; }
.padY-5 { padding: 5rem 0; }
.padY-7 { padding: 7rem 0; }

.padX-06 { padding: 0 .6rem; }
.padX-07 { padding: 0 .7rem; }
.padX-08 { padding: 0 .8rem; }
.padX-1-5 { padding: 0 1.5rem; }
.padX-2 { padding: 0 2rem; }
.padX-5 { padding: 0 5rem; }
.padX-10 { padding: 0 10rem; }
.padX-12 { padding: 0 12rem; }

.flexcontainer-row {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flexcontainer-col {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

/* NAVBAR - MENU */

.menu-wrap {
	display: none;
}

#header {
	background: url(../img/showcase.jpg) no-repeat center center/cover;
	padding: 3rem 2rem;
	height: 100vh;
}

#navbar {
	justify-content: space-between;
}

#navbar .logo  a {
	text-decoration: none;
	color: #fff;
}

#navbar .menu ul li {
	list-style: none;
	padding: 0 0.7rem;
}

#navbar .menu ul li a {
	text-decoration: none;
	color: #fff;
	transition: color 0.4s ease;
}

#navbar .menu ul li:last-child { margin-right: 2rem; }

#navbar .menu img { margin: 0.5rem; }

#navbar .menu ul li a:hover { color: #c7b299; }

/* SHOWCASE */

#showcase {
	height: 100%;
	max-width: 650px;
	margin: auto;
	text-align: center;
}

#showcase p {
	padding: 1rem 3rem;
	margin-bottom: 2rem;
}

/* SECTION ABOUT */

#about .items .item a {
	text-decoration: none;
	color: #555555;
	transition: .3s ease-in-out;
}

#about .items .line {
	margin-top: 1.5rem;
	height: 4px;
	background: #555555;
	width: 30%;
	transition: .3s ease-in-out;
	border-top: 3px solid #fff;
}

#about .items .item a:hover { color: #c7b299; }

#about .items .item a:hover > .line {
	border-top: 3px solid #c7b299;
	background: #c7b299;
}

/* SECTION BROWSER */

#browser {
	background: #fbfaf8;
	padding-top: 3rem;
}

#browser .container img { width: 100%; }

#browser .container h3, #browser .container p { color: #555; }

#browser .container p {
	padding-bottom: 2rem;
}

/* SECTION PURCHASE */

#purchase {
	background: linear-gradient(to right, #231c1a, #4d3327);
}

#purchase .container {
	justify-content: space-between;
}

#purchase .container .text p { color: #615855; }

/* SECTION PORTFOLIO */

#portfolio .container {
	text-align: center;
}

#portfolio .container h3 { color: #555; }

#portfolio .container > p { color: #555; }

#portfolio .container .categories ul li:first-child a p { color: #fff; }

#portfolio .container .categories ul li a p { 
	color: #555;
	padding: 0.1rem 1rem;
	border-radius: 0.2rem;
	margin-right: .5rem;
	border: 1px solid #ebebeb;
	transition: 0.4s ease-in-out;
}

#portfolio .container .categories ul li { list-style: none; }

#portfolio .container .categories ul li a p:hover { 
	background: #998675;
	color: #fff;
	border: 1px solid #fff;
}

#portfolio .container .categories ul li a { text-decoration: none; }

/*________________________________________________________________*/

#portfolio .row-1,
#portfolio .row-2 {
	justify-content: space-between;
	margin: 1rem 0;
}

#portfolio .row-1 .row-item,
#portfolio .row-2 .row-item {
	width: 100%;
	margin: 0 0.5rem;
	position: relative;
	cursor: pointer;
}

#portfolio .row-1 .row-item:before,
#portfolio .row-2 .row-item:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	z-index: 1;
	opacity: 0;
	transition: 0.5s ease;
}

#portfolio .row-1 .row-item:nth-child(1) .img { background: url(../img/row-item-1.png) no-repeat center center/cover; }
#portfolio .row-1 .row-item:nth-child(2) .img { background: url(../img/row-item-2.png) no-repeat center center/cover; }
#portfolio .row-1 .row-item:nth-child(3) .img { background: url(../img/row-item-3.png) no-repeat center center/cover; }
#portfolio .row-2 .row-item:nth-child(1) .img { background: url(../img/row-item-4.png) no-repeat center center/cover; }
#portfolio .row-2 .row-item:nth-child(2) .img { background: url(../img/row-item-5.png) no-repeat center center/cover; }
#portfolio .row-2 .row-item:nth-child(3) .img { background: url(../img/row-item-6.png) no-repeat center center/cover; }

#portfolio .row-1 .row-item .img,
#portfolio .row-2 .row-item .img {
	position: relative;
	width: 100%;
	height: 30vh;
}

#portfolio .row-1 .row-item .comment,
#portfolio .row-2 .row-item .comment {
	background: #fbfaf8;
	width: 100%;
	height: 100%;
	text-align: left;
	padding-left: 1.5rem;
	position: relative;
	z-index: 2;
	transition: 0.5s ease;
}

#portfolio .row-1 .row-item .comment:after,
#portfolio .row-2 .row-item .comment:after {
	content: '';
	display: inline-block;
	position: absolute; 
    left: 5%; top: -50%; 
    border: none;
    border: 1.5rem solid transparent; 
    border-bottom: 1.5rem solid #fbfaf8;
    transition: 0.5s ease;
}

#portfolio .row-1 .row-item .comment h4,
#portfolio .row-2 .row-item .comment h4 { 
	color: #c7b299;
	padding-top: 1.5rem;
	padding-bottom: 0.5rem; }

#portfolio .row-1 .row-item .comment p,
#portfolio .row-2 .row-item .comment p { 
	color: #d1d1d1; 
	padding-bottom: 1.5rem;
}

#portfolio .row-1 .row-item .icons,
#portfolio .row-2 .row-item .icons {
	height: 100%;
	width: 100%;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	opacity: 0;
	transition: 0.8s ease;
}

#portfolio .row-1 .row-item .icons i,
#portfolio .row-2 .row-item .icons i {
	padding: 0 1rem;
}

#portfolio .row-1 .row-item:hover .comment { background: #362f2d; }
#portfolio .row-1 .row-item:hover .comment:after { border-bottom: 1.5rem solid #362f2d; }
#portfolio .row-1 .row-item:hover .comment h4 { color: #fff; }
#portfolio .row-1 .row-item:hover .comment p { color: #c7b299 }
#portfolio .row-1 .row-item:hover:before { opacity: 1; }
#portfolio .row-1 .row-item:hover .icons { opacity: 1; }
#portfolio .row-1 .row-item .icons i:hover { color: #c7b299; }
#portfolio .row-2 .row-item:hover .comment { background: #362f2d; }
#portfolio .row-2 .row-item:hover .comment:after { border-bottom: 1.5rem solid #362f2d; }
#portfolio .row-2 .row-item:hover .comment h4 { color: #fff; }
#portfolio .row-2 .row-item:hover .comment p { color: #c7b299 }
#portfolio .row-2 .row-item:hover:before { opacity: 1; }
#portfolio .row-2 .row-item:hover .icons { opacity: 1; }
#portfolio .row-2 .row-item .icons i:hover { color: #c7b299; }

#portfolio .row-2 {
	margin-bottom: 2rem;
}

/* SECTION VIDEO */

#video {
	background: url(../img/video.png) no-repeat center center/cover;
	padding: 15rem 0;
	position: relative;
}

#video:before {
	content: '';
	background: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
}

#video h3,
#video p {
	z-index: 2;
}

#video p  {
	max-width: 30vw;
}

#video img{
	background: rgba(94, 97, 102, 0.6);
	border-radius: 50%;
	border: 10px solid rgba(94, 97, 102, 0.1);
	margin-bottom: 3rem;
	z-index: 2;
	cursor: pointer;
	transition: .5s ease-in-out;
}

#video img:hover {
	transform: rotate(720deg);
	border: 10px solid rgba(0, 0, 0, 0.1);
	background: rgba(0, 0, 0, 0.6);
}

/* SECTION MOBILE */

#mobile .container {
	padding-top: 5rem;
	padding-right: 4rem;
}

#mobile .container .text { margin-top: -5rem; }

#mobile .container h3 {
	color: #555;
	margin-bottom: 1rem;
}

#mobile .container p {
	color: #555;
	line-height: 1.7;
}

#mobile .container .list { margin-top: 3rem; }

#mobile .container .li {
	display: flex;
	margin-left: 2rem;
	margin-top: 1rem;
	align-content: flex-end;
	text-align: left;
}

#mobile .container .li img {
	padding-right: 2rem;
	padding-left: 1rem;
	height: 100%;
}

#mobile .container .handmobile {
	display: none;
}

/* SECTION ACHIEVEMENTS */

#achievements {
	background: linear-gradient(to right, #231c1a, #4d3327);
	padding: 5rem 0;
	text-align: center;
}

#achievements .container {
	justify-content: space-between;
	padding: 0 5rem;
}

#achievements .container .item p.text {
	color: #cab79f;
	text-transform: uppercase;
}

#achievements .container .item .line {
	max-width: 35px;
	height: 2px;
	background: #fff;
	margin: auto;
	margin-top: 2rem;
}

/* SECTION BLOG */

#blog {
	padding-bottom: 5rem;
	text-align: center;
}

#blog h3 { color: #555; }

#blog .container > p { 
	color: #555;
	padding-bottom: 1.5rem;
}

#blog .row-blog {
	justify-content: space-between;
}

#blog .row-item .img-date {
	position: relative;
	width: 100%;
	height: 15vw;
	padding: 1rem;
}

#blog .row-item .img-date:before {
	content: '';
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: 0.4s ease-in-out;
}

#blog .row-blog .row-item {
	margin: 0 0.7rem;
	cursor: pointer;
	position: relative;
}

#blog .row-item:nth-child(1) > div:nth-child(1) { background: url(../img/row-blog1.png) no-repeat center center/cover; }
#blog .row-item:nth-child(2) > div:nth-child(1) { background: url(../img/row-blog2.png) no-repeat center center/cover; }
#blog .row-item:nth-child(3) > div:nth-child(1) { background: url(../img/row-blog3.png) no-repeat center center/cover; }

#blog .row-item .comment {
	border: 1px solid #ccc;
	width: 100%;
	height: 100%;
	text-align: left;
	padding: 0 1.5rem;
	padding-bottom: 1rem;
	border-top: none;
	display: inline-block;
	z-index: 2;
	transition: 0.4s ease-in-out;
}

#blog .row-item .comment h4 {
	position: relative;
	color: #555;
	padding-top: 1rem;
}

#blog .row-item .comment p {
	color: #555;
	position: relative;
}

#blog .row-item .img-date .date {
	height: 4.5vw;
	width: 3.5vw;
	color: #fff;
	position: absolute;
	top: 7%;
	left: 7%;
	z-index: 2;
	transition: 0.4s ease;
}

#blog .row-item .img-date .date p:nth-child(1) { 
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	width: 100%;
	height: 100%;
	background: #363636; 
	border-radius: .5rem .5rem 0 0;
	transition: 0.4s ease;
}

#blog .row-item .img-date .date p:nth-child(2) { 
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	width: 100%;
	height: 70%;
	background: #252525; 
	border-radius: 0 0 .5rem .5rem;
	transition: 0.4s ease;
}

#blog .row-item .img-date .number {
	font-size: 1.7vw;
}

#blog .read-more { z-index: 2; }

#blog .row-item:hover > .img-date:before { opacity: 1; }
#blog .row-item:hover > .comment {
	border-color: #362f2d;
	background-color: #362f2d;
}
#blog .row-item:hover  p { color: #fff; }
#blog .row-item:hover  h4 { color: #cab299; }
#blog .row-item:hover .img-date .date p:nth-child(1) { background: #c7b299; }
#blog .row-item:hover .img-date .date p:nth-child(2) { background: #a48d72; }

/* SECTION PARTNERS */

#partners {
	background: url(../img/partners-bg.png) no-repeat center center/cover;
	padding: 7rem 0;
	position: relative;
}

#partners:before {
	content: '';
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#partners .container {
	justify-content: space-between;
}

#partners .container img {
	width: 20%;
	height: 20%;
	z-index: 2;
}

/* SECTION UPPERFOOTER */

#upperfooter {
	background: #191919;
}

#upperfooter .container {
	align-items: flex-start;
}
#upperfooter .container .part {
	margin: 0.5rem;
	flex: 1; 
}

#upperfooter .container .part p {
	color: #555;
}

#upperfooter .container .part .logo a {
	color: #fff;
	text-decoration: none;
	padding: 0;
	justify-content: flex-start;
	padding-bottom: 1.5rem;
}

#upperfooter .read-more { color: #fff; }

#upperfooter .read-more:after { border-left: 0.25rem solid #fff; }

#upperfooter .post {
	padding: 1rem 0;
	cursor: pointer;
	border-top: 1px solid #191919;
	border-bottom: 1px solid #191919;
}

#upperfooter .post:hover {
	border-top: 1px solid #252525;
	border-bottom: 1px solid #252525;
	transition: 0.5s ease;
}

#upperfooter .post:hover .mst-light-3 {
	color: #fff;
	transition: 0.5s ease;
}

#upperfooter .post:hover .mst-light-2 {
	color: #c7b299;
	transition: 0.5s ease;
}


#upperfooter .post p {
	padding-bottom: 0.3rem;
}

#upperfooter .post .link {
	text-decoration: none;
	color: #02b4e4;
}

#upperfooter .post .link:hover {
	text-decoration: underline;
}

#upperfooter .post .grey:hover {
	text-decoration: underline;
}

#upperfooter .container .part .row-1,
#upperfooter .container .part .row-2  {
	justify-content: flex-start;
}

#upperfooter .container .part .row-1 a,
#upperfooter .container .part .row-2 a {
	margin-top: -0.35rem;
	padding: 0;
	display: block;
}

#upperfooter .container .part .row-1 img,
#upperfooter .container .part .row-2 img {
	width: 7rem;
	height: 5rem;
	margin: 0.2rem;
}

/* SECTION FOOTER */

#footer {
	background: #111;
}

#footer .container {
	justify-content: space-between;
	color: #555;
}

#footer .container a {
	color: #555;
	text-decoration: none;
}

#footer .container a:hover {
	text-decoration: underline;
}

.aaa {
	display: inline-block;
	margin: 0;
	padding: 0;
}

